{% extends 'base.html.twig' %}


{% block main %}

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>ЗА НАС</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <!-- product list part start-->
    <section class="about_us padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="about_us_content">
                        <h5>За нас</h5>
                        <h3>  СВИК е създаден през 1995г. в гр. Пещера – един от центровете на обувното производство в България.<br>
                            Фирмата се разраства с бързи темпове и за кратко време достига водещи позиции в производството на луксозни и всекидневни дамски и мъжки обувки. СВИК залага най-вече на усещането за удобство. Работи се с екологично чисти суровини и материали. Фирмата притежава собствен модерен завод, построен по еврипейски стандарти. Инвестициите са насочени предимно към закупуването на нови машини и технологии, към непрекъснато подобряване условията на труд.</h3>

                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}