{% extends 'base.html.twig' %}

{% block title %}КОИ СМЕ НИЕ
{% endblock %}

{% block main %}
	<!--
	      <div class="ps-mission img-fluid" height="auto" data-background="/assets//assets/images/fabrica.png">
	        <div class="ps-container">
	          <h2>Вашият комфорт и стил е наша отговорност</h2>
	        </div>
	      </div>
	      <div class="ps-section ps-ourteam pt-80 pb-80">
	        <div class="ps-container">
	          <div class="ps-section__header mb-50">
	            <h2 class="ps-section__title" data-mask="TEAM">- Нашата история</h2>
	          </div>
	        <div class="ps-post__content">
	            <p>СВИК е създаден през 1995г. в гр. Пещера – един от центровете на обувното производство в България.
	Фирмата се разраства с бързи темпове и за кратко време достига водещи позиции в производството на луксозни и всекидневни дамски и мъжки обувки. СВИК залага най-вече на усещането за удобство. Работи се с екологично чисти суровини и материали. Фирмата притежава собствен модерен завод, построен по еврипейски стандарти. Инвестициите са насочени предимно към закупуването на нови машини и технологии, към непрекъснато подобряване условията на труд.</p>
	         </div>
	        </div>
	      </div>
	-->
	<main class="main">
		<nav class="breadcrumb-nav">
			<div class="container">
				<ul class="breadcrumb">
					<li>
						<a href="/">
							<i class="d-icon-home"></i>
						</a>
					</li>
					<li>За нас</li>
				</ul>
			</div>
		</nav>
		<div class="page-header pl-4 pr-4" style="background-image: url(/assets/images/fabrica.png)">
			<h1 class="page-title font-weight-bold lh-1 text-white text-capitalize">ЗА НАС</h1>

		</div>
		<div class="page-content mt-10 pt-10">
			<section class="about-section pb-10 appear-animate">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-4 mb-10 mb-lg-4">
							<h3 class="section-title lh-1 font-weight-bold">Кои сме ние
							</h3>
							<p class="section-desc">SVIK Shoes е български производител на първокачествени обувки от напълно естествени материали.</p>
						</div>
						<div class="col-lg-8 ">
							<div class="row">
								<div class="col-md-4 mb-4">
									<div class="counter text-center text-dark">
										<span class="count-to" data-to="35" data-refresh-interval="50">30</span>
										<h5 class="count-title font-weight-bold text-body ls-md">Години опит</h5>
										
									</div>
								</div>
								<div class="col-md-4 mb-4">
									<div class="counter text-center text-dark">
										<span class="count-to" data-to="50" data-refresh-interval="50">80 000</span>
										<h5 class="count-title font-weight-bold text-body ls-md">Доволни клиенти</h5>
										
									</div>
								</div>
								<div class="col-md-4 mb-4">
									<div class="counter text-center text-dark">
										<span class="count-to" data-to="130" data-refresh-interval="50">300 000</span>
										<h5 class="count-title font-weight-bold text-body ls-md">Създадени чифта обувки</h5>
									
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End About Section-->

			<section class="customer-section pb-10 appear-animate">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-7 mb-4">
							<figure>
								<img src="/assets/images/fabrica.png" alt="Happy Customer" width="580" height="507" class="banner-radius" style="background-color: #BDD0DE;"/>
							</figure>
						</div>
						<div class="col-md-5 mb-4">
							<h3 class="section-title lh-1 font-weight-bold">Нашата история</h3>
							<p class="section-desc text-grey">
								СВИК е създаден през 1995г. в гр. Пещера – един от центровете на обувното производство в България.<br/>
								Фирмата се разраства с бързи темпове и за кратко време достига водещи позиции в производството на луксозни и всекидневни дамски и мъжки обувки.<br/> СВИК залага най-вече на усещането за удобство. <br/>Работи се с екологично чисти суровини и материали.<br/> Фирмата притежава собствен модерен завод, построен по еврипейски стандарти.<br/> Инвестициите са насочени предимно към закупуването на нови машини и технологии, към непрекъснато подобряване условията на труд.
							</p>
							
							</a>
						</div>
					</div>
				</div>
			</section>
			<!-- End Customer Section -->

			
			<!-- End Team Section -->
		</div>
	</main>

{% endblock %}
