{% extends 'base.html.twig' %}

{% block title %}SVIK - Контакти
{% endblock %}

{% block stylesheets %}
    <!-- Main CSS File -->
            <link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/style.min.css')}}">
{% endblock %}

{% block main %}

	<!--<div class="ps-contact ps-section pb-80">
		<div class="ps-container">
			<div class="row">

				<div class="ps-section__header mb-50">
					<h2 class="ps-section__title" data-mask="Contact">- Свържете се с нас</h2>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
						<div class="alert alert-success" role="alert" style="display: none" ; id="successMessageSend" ;>
							Успешно изпращане!
						</div>
						<form class="ps-contact__form" method="post">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
									<div class="form-group">
										<label>Вашето име
											<sub>*</sub>
										</label>
										<input class="form-control" type="text" placeholder="" name="name" id="name">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
									<div class="form-group">
										<label>Имейл
											<sub>*</sub>
										</label>
										<input class="form-control" type="email" name="email" id="email" placeholder="">
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
									<div class="form-group mb-25">
										<label>Коментар, препоръка, оплакване или въпрос
											<sub>*</sub>
										</label>
										<textarea class="form-control" rows="5" name="message" id="message"></textarea>
									</div>
									<div class="form-group">
										<a class="ps-btn" href="#" id="submit-message">ИЗПРАТИ<i class="ps-icon-next"></i>
										</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
					<div class="ps-section__content">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-2 col-xs-12 ">
								<div class="ps-contact__block" data-mh="contact-block">
									<header>
										<h3>България
											<span>
												4550 гр. Пещера</span>
										</h3>
									</header>
									<footer>
										<p>
											<i class="fa fa-map-marker"></i>
											ул. Михаил Такев 2Д</p>
										<p>
											<i class="fa fa-envelope-o"></i>
											<a href="mailto@obuvkisvik@gmail.com">obuvkisvik@gmail.com</a>
										</p>
										<p>
											<i class="fa fa-phone"></i>
											( +359 ) 89 260 9802</p>
									</footer>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>-->

	<main class="main">
            <nav class="breadcrumb-nav">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
                        <li>Свържете се с нас</li>
                    </ul>
                </div>
            </nav>
            <div class="page-header" style="background-image: url(/assets/images/page-header/contact-us.jpg)">
                <h1 class="page-title font-weight-bold text-capitalize ls-l">Свържете се с нас</h1>
            </div>
            <div class="page-content mt-10 pt-7">
                <section class="contact-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6 ls-m mb-4">
                                <div class="grey-section d-flex align-items-center h-100">
                                    <div>
                                        <h4 class="mb-2 text-capitalize">Централно управление</h4>
                                        <p>обл. Пазарджик, гр. Пещера 4550<br>ул. Михаил Такев 2Д</p>

                                        <h4 class="mb-2 text-capitalize">Теленонен номер</h4>
                                        <p>
                                            <a href="tel:+359892609802">+359 89 260 9802</a><br>
                                        </p>

                                        <h4 class="mb-2 text-capitalize">Имейл</h4>
                                        <p class="mb-4">
                                            <a href="obuvkisvik@gmail.com">ademcran4aliew@gmail.com</a><br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-6 d-flex align-items-center mb-4">
                                <div class="w-100">
                                    <form class="pl-lg-2" action="#">
                                        <h4 class="ls-m font-weight-bold">Коментар, препоръка, оплакване или въпрос *</h4>
                                        <p>
                                        Вашият имейл адрес няма да бъде публикуван. Задължителните полета са маркирани * *</p>
                                        <div class="row mb-2">
                                            <div class="col-12 mb-4">
                                                <textarea class="form-control" required
                                                    placeholder="Коментар*"></textarea>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <input class="form-control" type="text" placeholder="Име *" required>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <input class="form-control" type="email" placeholder="Имейл *" required>
                                            </div>
                                        </div>
                                        <button class="btn btn-dark btn-rounded">Изпрати <i
                                                class="d-icon-arrow-right"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End About Section-->

            </div>
        </main>
{% endblock %}