{% extends 'base.html.twig' %}


{% block main %}

    <!-- slider Area End-->
    <section class="cart_area section_padding">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <h2 class="center">Политика за използване на бисквитки</h2>
                        <tbody>
                        <ul class="unordered-list">
                            <li><b>Какво представляват бисквитките?</b>
                                <ul>
                                    <li>Бисквитките са малки текстови файлове, които се запазват на вашия компютър или мобилно устройство, когато посещавате даден уебсайт. Те се използват за да идентифицират вашето устройство, при използване на нашият сайт. Обикновено бисквитките пазят в себе си името на сайта, от който са дошли, уникален номер и времето в което тези бисквитки ще бъдат съхранявани.
                                    </li>
                                </ul>
                            </li>
                            <li><b>Какви бисквитки използваме?</b>

                                <ul>
                                    <li>Ние използваме два вида бисквитки: сесийни и постоянни. Сесийните бисквитки са временни файлове, които остават в терминал до завършването на потребителската сесия или затваряне на приложението. Постоянните бисквитки остават на терминала на потребителя за срока, определен от параметрите на бисквитката или докато не се изтрият ръчно от потребителя.
                                    </li>
                                </ul>
                            </li>
                            <li><b>Как се използват бисквитките от този сайт?</b>
                                <ul>
                                    <li>Посещение на този сайт може да оставят следните типове бисквитки:
                                </ul>
                                <ul>
                                    <li>Бисквитките са строго необходими за работата на сайта
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                Бисквитките и/или другите строго необходими подобни технологии са от съществено значение за правилното функциониране на сайта, бидейки зададени на Вашето устройство при влизането в уеб сайта или в резултат на действия, извършвани в сайта, според случая. Можете да настроите браузъра си да блокира “бисквитките”, но в този случай, някои раздели на сайта няма да работят правилно.

                            </li>
                        </ul>
                        <ul>
                            <li>Когато потребителят използва нашия сайт, ние използваме бисквитките, за да идентифицираме браузъра или потребителското устройство - бисквитките събират различни видове информация, която по принцип не съставлява лични данни (не позволява идентификация на потребителя).
                            </li>
                            </li>
                            <li><b>Премахване или блокиране на файлове cookies “Бисквитки”</b>
                                <ul>
                                    <li>
                                        Не забравяйте, че можете да управлявате използването на “Бисквитки” от ваша страна посредством настройките на нашия уебсайт или на вашия уеб браузър.
                                        По подразбиране, интернет браузърите или друг софтуер, инсталиран на компютър или друго устройство на потребителя, свързано към мрежата, позволява включването на определените видове “Бисквитки” на това устройство. Тези настройки могат да бъдат променени по такъв начин, че да блокират използването на “Бисквитки” в настройките на уеб браузъра или да уведомяват за всеки техен трансфер към устройството на потребителя. Така даденото съгласие относно използването на тази технология може да се изменя или отменя по всяко време (блокирайки запазването на “Бисквитки” в бъдеще).




                                    </li>

                                </ul>
                            </li>
                        </ul>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->



{% endblock %}