{% extends 'base.html.twig' %}

{% block title %}Общи условия
{% endblock %}
{% block main %}

	<main class="main">
		<nav class="breadcrumb-nav">
			<div class="container">
				<ul class="breadcrumb">
					<li>
						<a href="demo1.html">
							<i class="d-icon-home"></i>
						</a>
					</li>
					<li>FAQs</li>
				</ul>
			</div>
		</nav>
		<div class="page-header" style="background-image: url(images/page-header/faq.jpg)">
			<h3 class="page-subtitle lh-1">Frequently</h3>
			<h1 class="page-title font-weight-bold text-capitalize lh-1">Asked Questions</h1>
		</div>
		<div class="page-content mb-10 pb-8">
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-6 mt-10">
							<h2 class="title pl-2 pr-2 ls-m text-left">Политика за използване на бисквитки</h2>
							<div class="accordion accordion-border accordion-boxed accordion-plus">
								<div class="card">
									<div class="card-header">
										<a href="#collapse2-1" class="collapse">Какво представляват бисквитките?
										</a>
									</div>
									<div id="collapse2-1" class="expanded">
										<div class="card-body">
											<p>Бисквитките са малки текстови файлове, които се запазват на вашия компютър или мобилно устройство, когато посещавате даден уебсайт. Те се използват за да идентифицират вашето устройство, при използване на нашият сайт. Обикновено бисквитките пазят в себе си името на сайта, от който са дошли, уникален номер и времето в което тези бисквитки ще бъдат съхранявани.
											</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<a href="#collapse2-2" class="expand">Какви бисквитки използваме?
										</a>
									</div>
									<div id="collapse2-2" class="collapsed">
										<div class="card-body">
											<p>Ние използваме два вида бисквитки: сесийни и постоянни. Сесийните бисквитки са временни файлове, които остават в терминал до завършването на потребителската сесия или затваряне на приложението. Постоянните бисквитки остават на терминала на потребителя за срока, определен от параметрите на бисквитката или докато не се изтрият ръчно от потребителя.
											</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<a href="#collapse2-3" class="expand">Как се използват бисквитките от този сайт?
										</a>
									</div>
									<div id="collapse2-3" class="collapsed">
										<div class="card-body">
											<p>
												Посещение на този сайт може да оставят следните типове бисквитки: 
																																				        Бисквитките са строго необходими за работата на сайта
																																				
																																				    Бисквитките и/или другите строго необходими подобни технологии са от съществено значение за правилното функциониране на сайта, бидейки зададени на Вашето устройство при влизането в уеб сайта или в резултат на действия, извършвани в сайта, според случая. Можете да настроите браузъра си да блокира “бисквитките”, но в този случай, някои раздели на сайта няма да работят правилно.
																																				
																																				    Когато потребителят използва нашия сайт, ние използваме бисквитките, за да идентифицираме браузъра или потребителското устройство - бисквитките събират различни видове информация, която по принцип не съставлява лични данни (не позволява идентификация на потребителя).
											</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<a href="#collapse2-3" class="expand">Премахване или блокиране на файлове cookies “Бисквитки”
										</a>
									</div>
									<div id="collapse2-3" class="collapsed">
										<div class="card-body">
											<p>Не забравяйте, че можете да управлявате използването на “Бисквитки” от ваша страна посредством настройките на нашия уебсайт или на вашия уеб браузър. По подразбиране, интернет браузърите или друг софтуер, инсталиран на компютър или друго устройство на потребителя, свързано към мрежата, позволява включването на определените видове “Бисквитки” на това устройство. Тези настройки могат да бъдат променени по такъв начин, че да блокират използването на “Бисквитки” в настройките на уеб браузъра или да уведомяват за всеки техен трансфер към устройството на потребителя. Така даденото съгласие относно използването на тази технология може да се изменя или отменя по всяко време (блокирайки запазването на “Бисквитки” в бъдеще).
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 mt-10">
							<h2 class="title pl-2 pr-2 ls-m">Общи условия на SVIK</h2>
							<div class="accordion accordion-border accordion-boxed accordion-plus">
								<div class="card">
									<div class="card-header">
										<a href="#collapse2-1" class="collapse">Предмет</a>
									</div>
									<div id="collapse2-1" class="expanded">
										<div class="card-body">
											<p>Настоящият документ представя общите условия или условията на ползване на www.obuvkisvik.com, които уреждат правилата за използването, включително сключването на договор за покупко-продажба с този електронен магазин.
											</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<a href="#collapse2-2" class="expand">Данни за продавача
										</a>
									</div>
									<div id="collapse2-2" class="collapsed">
										<div class="card-body">
											<p>
												"СВИК-СЮЛЕЙМАН КЪРДЖАЛИЕВ" ЕООД адрес: област Пазарджик, град Пещера, ул. Михаил Такев 2Д
																																				                                                "СВИК-СЮЛЕЙМАН КЪРДЖАЛИЕВ" ЕООД адрес: област Пазарджик, град Пещера, E-mail: obuvkisvik@gmail.com, телефони: +359 89 2609802</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<a href="#collapse2-3" class="expand">Дефиниции</a>
									</div>
									<div id="collapse2-3" class="collapsed">
										<div class="card-body">
											<p>
												Продавач – "СВИК-СЮЛЕЙМАН КЪРДЖАЛИЕВ" ЕООД
																																				
																																				    Сайт – домейна www.obuvkisvik.com и неговите поддомейни
																																				
																																				    Клиент – всяко физическо или юридическо лице или друг правен субект, който използва сайта на "СВИК-СЮЛЕЙМАН КЪРДЖАЛИЕВ" ЕООД по какъвто и да е начин, включително но не само като го разглежда, прави поръчки от него, купува, връща стоки и др.
																																				
																																				    Поръчка – електронен документ, представляващ комуникационна форма между Продавача и Купувача, чрез който Купувачът заявява на Продавача през Сайта намерението си за закупуване на Стоки и Услуги от Сайта
																																				
																																				    Стоки и Услуги – всеки предмет на договора за покупко-продажба от Сайта;
																																				
																																				    Кампания – всяко търговско съобщение, целящо популяризирането на определени Стоки и/или Услуги, които се предлагат в ограничени наличности, освен ако в търговското съобщение изрично не е упоменато обратното, за определн период от време, посочен от Продавача;
																																				
																																				    Съдържание • цялата информация на Сайта, която е достъпна чрез връзка с интернет и използване на уред, имащ връзка с Интернет; • съдържанието на всяко съобщение от страна на Купувача към Продавача, изпратено посредством електронни средства и/или всякакви други достъпни комуникационни средства; • всякаква информация, предоставена по всякакви начини от страна на служител/сътрудник на Продавача, на Купувача чрез електронни или други средства за предаването й от разстояние; • информацията, свързана със Стоките и/или Услугите и/или прилаганите тарифи от Продавача в определен период от време; • информацията, касаеща Клиентите и свързана със Стоките и/или Услугите и/или приложимите тарифи от трети лица, с които Продавачът има сключени под някаква форма патньорски договори; • данни относно Продавача или други данни, отнасящи се до него.
											</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<a href="#collapse2-2" class="expand">Доставка</a>
									</div>
									<div id="collapse2-2" class="collapsed">
										<div class="card-body">
											<p>
												„СВИК“ООД използва услугите на куриерската компания ЛЕО ЕКСПРЕС.
																								
																								    При желание от страна на клиента доставките е възможно да се извърши с друга куриерска фирма.
																								
																								    Всички транспортни разходи по доставянето на стоките се поемат изцяло от Потребителят.
																								
																								    Доставката при поръчка над 100 лв. е НАПЪЛНО БЕЗПЛАТНА, за територията на страната, в случай че клиентът е съгласен доставката да бъде извършена от куриерска компания ЛЕО ЕКСПРЕС, до офис на ЛЕО ЕКСПРЕС, и до адрес на клиента, ако в населеното място няма офис на ЛЕО ЕКСПРЕС. Ако клиентът желае доставката да бъде извършена от друга куриерска фирма, а не чрез куриерската фирма, с която работим, то доставката се заплаща от клиента, независимо от стойността на поръчката.
																								
																								    Имате право да ползвате опцията „Преглед и проба преди заплащане“- клиентът има право да отвори, разгледа и премери поръчания артикул, преди той да бъде заплатен. В случай, че се откаже от стоката, тъй като стоката не му харесва или не му става като номер, клиентът заплаща както разходите по доставката, така и допълнителните такси и разноски по връщането.
																								
																								    В случай че при първоначалния преглед на стоката клиентът констатира, че стоката има дефект, то доставката и връщането на стоката е за сметка на „СВИК“ООД.
																								
																								    В случай че клиентът желае замяна на стоката с друг номер или друг модел, то независимо от стойността на поръчката и избраната куриерска фирма, всички разходи по доставката, както и другите транспортни такси са за сметка на клиента.
											</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<a href="#collapse2-2" class="expand">Заплащане
										</a>
									</div>
									<div id="collapse2-2" class="collapsed">
										<div class="card-body">
											<p>"СВИК-СЮЛЕЙМАН КЪРДЖАЛИЕВ" ЕООД използва методът за плащане НАЛОЖЕН ПЛАТЕЖ. При доставяне на поръчката, потребителят заплащате дължимата сума на фирмата куриер в български лева.
											</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<a href="#collapse2-2" class="expand">Поръчка
										</a>
									</div>
									<div id="collapse2-2" class="collapsed">
										<div class="card-body">
											<p>

												Поръчки, направени от сайта, се изпълняват в рамките на 3-4 работни дни, ако стоките, които сте поръчали, са налични. Потвърждаването става чрез телефонно обаждане от нас - уточняваме наличността на стоката, адреса и времето за доставка и след Вашето потвърждение активираме поръчката.
												
												    За да направите поръчка, трябва първо да изберете желания размер на артикула, след което да натиснете бутона "Добави в кошницата". Прегледайте съдържанието на кошницата, която се намира в горния десен ъгъл на сайта и натиснете бутона "Поръчай". След като го направите, трябва да натиснете двата последователни бутона "Следващ", да изберете начина на плащане, който е "Наложен платеж - плащане при доставка" и накрая да натиснете бутона "Потвърждавам поръчката". След като сте направили Вашата поръчка ние ще се свържем с Вас, за да уточним наличността на стоката и подробностите около доставката.

											</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<a href="#collapse2-2" class="expand">Замяна
										</a>
									</div>
									<div id="collapse2-2" class="collapsed">
										<div class="card-body">
											<p>

												Ако желаете да замените получения продукт за друг размер или друг артикул, моля, свържете се с нас на тел:089 260 9802, за да Ви обясним как ще се извърши замяната. В този случай клиентът трябва да изпрати пратката си до „СВИК“ООД без наложен платеж до офис на ЛЕО ЕКСПРЕС или до адреса, който ще Ви дадем. Можете да го направите и с избрана от Вас куриерска фирма. Транспортните разходи по изпращането на пратката към нас са за сметка на клиента, а „СВИК“ООД поема отговорността клиентът да получи обратно продукта по замяната. Замяна може да бъде извършена, ако стоката не е ползвана, прана, носена, не е преминала през никакви обработки и действия, които нарушават целостта й, както и да бъде изпратена с оригиналните опаковка и етикети (без те да са свалени) и придружена с касов бон.
												
												    Преди да предприемете каквито и да било действия, трябва да се свържете с нас на тел:
											</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<a href="#collapse2-2" class="expand">Отказ от договора и връщане на стока
										</a>
									</div>
									<div id="collapse2-2" class="collapsed">
										<div class="card-body">
											<p>
												Съгласно чл. 50 от ЗЗП клиентът има право да се откаже от закупената стока в рамките на 14-дневен срок от получаването на обувките без да посочва причините за това. Върнатите стоки трябва да бъдат запазени в оригиналния си вид, неизползвани и с ненарушена цялост на опаковката. В противен случай Търговецът си запазва правото да не уважи искането на клиента.
												
												    • Връщането на продуктите се осъществява чрез куриерска фирма в сътрудничество със “СВИК” ООД – куриерската компания ЛЕО ЕКСППРЕС или чрез удобна за клиента такава. За да упражни правото си на отказ, потребителят може да използва стандартния формуляр за отказ или да заяви недвусмислено по друг начин решението си да се откаже от договора. Формулярът за отказ се предоставя в разпечатан вид към при доставка на всяка поръчка. Разходите по връщането са изцяло за сметка на клиента и се определят по актуалната ценова листа на куриерска фирма, с която се осъществява връщането. Връщанията се осъществяват до адрес за връзка, посочен в настоящите общи условия – гр. Пещера, ул. „Михаил Такев“2Д. 
												
												    За да спази срока за отказ от договора, е достатъчно клиентът да изпрати съобщението си относно упражняването на право на отказ преди изтичането на срока за отказ от договора.
												
												    При отказ от договора от страна на клиента, „СВИК“ООД ще Ви възстанови всички плащания, които дружеството е получило от клиента без неоправдано забавяне и във всички случаи не по-късно от 14 дни считано от датата, на която клиентът е информирал за решението си за отказ от настоящия договор.

											</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header">
										<a href="#collapse2-2" class="expand">Гаранция и рекламации
										</a>
									</div>
									<div id="collapse2-2" class="collapsed">
										<div class="card-body">
											<p>

												Гаранционният срок на всички стоки, предлагани в магазина за обувки, е 30-дневен и започва да тече от датата на получаване на артикулите. „СВИК“ООД приема рекламации в рамките на гаранционния срок на обувките. Разходите по връщането на поръчаните артикули и замяната им с нови е за сметка на производителя. Търговецът си запазва правото да не уважи искането на клиента в случаите на неправилна експоатация и/или умишлено създадено условие за рекламация. Рекламации се приемат при дефектиране на стоката в следните случаи:
												        -Напукване на кожата
												        -Разлепване
												        -Разшиване
												        -Счупване на ток
												
												    • Търговската гаранция не оказва влияние на потребителите и независимо от търговската гаранция, продавачът отговаря за липсата на съответствие на потребителската стока с договор за продажба съгласно гаранцията по чл. 112, 113, 114 и 115 от Закона за защита на потребителите, при несъответсвие на потребителската стока с договор за продажба потребителят има право да придяви рекламация, като поиска от продавача да приведе стоката в съответствие с договора за продажба. В този случай потребителят може да избира между извършване на ремонт на стоката или замяната й с нова, освен ако това е невъзможно или избраният от него начин за обезщетение е непропорционален в сравнение с другия. Смята се, че даден начин за обезщетение на потребителя и е непропорционален, ако неговото използване налага разходи на продавача, които в сравнение с другия начин на обезщетение са неразумни като се вземат предвид: 1. стойността на потребителската стока, ако нямаше липса на несъответсвие; 2. значимостта на несъответсвието; 3. възможността да се предложи на потребителя друг начин на обезщетяване, който не е свързан със значителни неудобства за него.
												
												    • Когато потребителската стока не съответства на договора за продажба, продавачът е длъжен да я приведе в съответсвие с договора на продажби. Привеждането на потребителската стока в съответствие с договора на продажби трябва да се извърши в рамките на един месец, считано от предаването на рекламацията от потребителя.След изтичането на срока по ал. 2 потребителят има право да развали договора и да му бъде възстановена заплатената сума или да иска намаляване на цената на потребителската стока. Привеждането на потребителската стока в съответсвие с договора за продажба е безплатно за потребителя. Той не дължи разходи за експедиране на потребителската стока или за материали и труд, свързани с ремонта й, и не трябва да понася значителни неудобства. При несъответствие на потребителската стока е договора за продажба и когато потребителят не е удовлетворен от решаваното на рекламацията по чл. 113 от ЗЗП той има право на избор мужду една от следните възможности: 1. Разваляне на договора и възстановяване на заплатената от него сума; 2. Намаляване на цената. Потребителят не може да претендира за възстановяване на заплатената сума или за намаляване цената на стоката, когато търговецът се съгласи да бъде извършена замяна на потребителската стока с нова или да се поправи стоката. Потребителят не може да претендира за разваляне на договора, ако несъответствието на потребителската стока с договора е незначителна.
												
												    • Съгласно БДС-515-88 производителят определя 30-дневен гаранционен срок за ежедневни и официални обуки! Рекламацията се урежда от сайта, от който е закупена стоката. Рекламацията при констатиране явни дефекти се предядява до 4 дни след закупуването на обувките! При проявяване на дефект на ходилата като пречупване, гаранционният срок е 30 дни. При възникване на отстраним дефект, включително разлепване, обувките се отремонтират от производителя в срок от 30 дни. Времето за ремонт се изключва от гаранцията.
												
												    • При дефект вследствие неправилна експлоатация, при разместване на стелките и деформация на обувката в следствие влиянието на вода, кал или специфична походка, при изменение на цвета на кожата след неправилно използвани средства за оцветяване и почистване, при неспазване указанията за правилна експлоатация на обувките производителят не приема рекламация!
												
												    • Рекламацията се приема само при предоставяне на гаранционна карта(Касов бон).
												
												    • Уважаеми клиенти, при рекламация, моля изпращайте обувките си почистени!!!

											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>

{% endblock %}

