{% extends 'base.html.twig' %}


{% block main %}
    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Общи условия на SVIK</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <section class="cart_area section_padding">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <h2 class="center">Общи условия на SVIK</h2>
                        <tbody>
                        <ul class="unordered-list">
                            <li><b>Предмет</b>
                                <ul>
                                    <li>•	Настоящият документ представя общите условия или условията на ползване на www.obuvkisvik.com, които уреждат правилата за използването, включително сключването на договор за покупко-продажба с този електронен магазин.
                                    </li>
                                </ul>
                            </li>
                            <li><b>Данни за продавача</b>

                                <ul>
                                    <li>"СВИК" ООД адрес: област Пазарджик, град Пещера, ул. Михаил Такев 2Д
                                    </li>
                                </ul>
                                <ul>
                                    <li>"СВИК" ООД адрес: област Пазарджик, град Пещера, E-mail: obuvkisvik@gmail.com, телефони: +359 89 2609802
                                    </li>
                                </ul>
                            </li>
                            <li><b>Дефиниции</b>
                                <ul>
                                    <li>
                                        Продавач – "СВИК" ООД
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        Сайт – домейна www.obuvkisvik.com и неговите поддомейни
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        Клиент – всяко физическо или юридическо лице или друг правен субект, който използва сайта на "СВИК" ООД  по какъвто и да е начин, включително но не само като го разглежда, прави поръчки от него, купува, връща стоки и др.
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        Поръчка – електронен документ, представляващ комуникационна форма между Продавача и Купувача, чрез който Купувачът заявява на Продавача през Сайта намерението си за закупуване на Стоки и Услуги от Сайта
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        Стоки и Услуги – всеки предмет на договора за покупко-продажба от Сайта;
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        Кампания – всяко търговско съобщение, целящо популяризирането на определени Стоки и/или Услуги, които се предлагат в ограничени наличности, освен ако в търговското съобщение изрично не е упоменато обратното, за определн период от време, посочен от Продавача;
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        Съдържание • цялата информация на Сайта, която е достъпна чрез връзка с интернет и използване на уред, имащ връзка с Интернет; • съдържанието на всяко съобщение от страна на Купувача към Продавача, изпратено посредством електронни средства и/или всякакви други достъпни комуникационни средства; • всякаква информация, предоставена по всякакви начини от страна на служител/сътрудник на Продавача, на Купувача чрез електронни или други средства за предаването й от разстояние; • информацията, свързана със Стоките и/или Услугите и/или прилаганите тарифи от Продавача в определен период от време; • информацията, касаеща Клиентите и свързана със Стоките и/или Услугите и/или приложимите тарифи от трети лица, с които Продавачът има сключени под някаква форма патньорски договори; • данни относно Продавача или други данни, отнасящи се до него.
                                    </li>
                                </ul>

                            </li>
                            <li><b>Доставка</b>
                                <ul>
                                    <li>


                                        IRAPELL използва услугите на куриерската компания ECONT EXPRESS.

                                    </li>

                                </ul>
                                <ul>
                                    <li>

                                        Всички транспортни разходи по доставянето на стоките се поема изцяло от Потребителят.


                                    </li>

                                </ul>
                                <ul>
                                    <li>

                                        Имате право да ползвате опцията „Преглед и проба преди заплащане“- клиентът има право да отвори, разгледа и премери поръчания артикул, преди той да бъде заплатен. В слуачай, че се откаже от стоката в този случай, той заплаща допълнителни такси и разноски по връщането.


                                    </li>

                                </ul>

                            <li><b>Заплащане</b>
                                <ul>
                                    <li>"СВИК" ООД използва методът за плащане НАЛОЖЕН ПЛАТЕЖ. При доставяне на поръчката, потребителят заплащате дължимата сума на фирмата куриер в български лева.
                                    </li>
                                </ul>
                            </li>
                            <li><b>Гаранция и рекламации</b>
                                <ul>
                                    <li>Търговската гаранция не оказва влияние на потребителите и независимо от търговската гаранция, продавачът отговаря за липсата на съответствие на потребителската стока с договор за продажба съгласно гаранцията по чл. 112115. съгласно чл. 112, 113, 114 и 115 от Закона за защита на потребителите, при несъответсвие на потребителската стока с договор за продажба потребителят има право да придяви рекламация, като поиска от продавача да приведе стоката в съответствие с договора за продажба. В този случай потребителят може да избира между извършване на ремонт на стоката или замяната й с нова, освен ако това е невъзможно или избраният от него начин за обезщетение е непропорционален в сравнение с другия. Смята се, че даден начин за обезщетение на потребителя и е непропорционален, ако неговото използване налага разходи на продавача, които в сравнение с другия начин на обезщетение са неразумни като се вземат предвид: 1. стойността на потребителската стока, ако нямаше липса на несъответсвие; 2. значимостта на несъответсвието; 3. възможността да се предложи на потребителя друг начин на обезщетяване, който не е свързан със значителни неудобства за него. Когато потребителската стока не съответства на договора за продажба, продавачът е длъжен да я приведе в съответсвие с договора на продажби. Привеждането на потребителската стока в съответствие с договора на продажби трябва да се извърши в рамките на един месец, считано от предаването на рекламацията от потребителя.След изтичането на срока по ал. 2 потребителят има право да развали договора и да му бъде възстановена заплатената сума или да иска намаляване на цената на потребителската стока. Привеждането на потребителската стока в съответсвие с договора за продажба е безплатно за потребителя. Той не дължи разходи за експедиране на потребителската стока или за материали и труд, свързани с ремонта й, и не трябва да понася значителни неудобства. При несъответствие на потребителската стока е договора за продажба и когато потребителят не е удовлетворен от решаваното на рекламацията по чл. 113. От ЗЗП. Той има право на избор мужду една от следните възможности: 1. Разваляне на договора и възстановяване на заплатената от него сума; 2. Намаляване на цената. Потребителят не може да претендира за възстановяване на заплатената сума или за намаляване цената на стоката, когато търговецът се съгласи да бъде извършена замяна на потребителската стока с нова или да се поправи стоката в рамките на един месец от предаването на рекламацията от потребителят. Потребителят не може да претендира за разваляне на договора, ако несъответствието на потребителската стока с договора е незначителна. Потребителят може да упражни правото си по този раздел в срок до две години, считано от доставянето на потребителската стока. Срокът спира да тече през времето, необходимо за поправка или замяната на потребителската стока или за постигане на споразумение между продавача и потребителя за решаване на спора. Упражняваното но правото на потребителя не е обвързано с никакъв друг срок за преявяване на иск, различен от срока две години. СъгласноБДС-515-88 производителят определя 30 дневен гаранционен срокза ежедневни и официални обуки! Рекламацията се урежда от сайтът, от който е закупена стоката. Рекламацията при констатиране явни дефекти се предядява до 4 дни след закупуването на обувките! При проявяване на дефект на ходилата като пречупване, гаранционният срок е 30 дни. При възникване на отстраним дефект, включителноразлепване, обувките се отремонтират от производителя в срок от 30 дни. Времето за ремонт си изклюбва от гаранцията. Дефекти, даващи основание за рекламации: 1.Сцепване на кожата; 2.Пречупване на ходилото; 3.Разцепено ходило; 4.Падане на форта; 5.Повредени ципове; 6.Разкъсан шев на лицето; 7.Счупване на кленката или металната пластина в камерната част на обувката; При дефект вследствие неправилна експоатация производителят не приема рекламация! Рекламацията се приема само при придставяне на гаранционна карта. Уважаеми клиенти, при рекламация, моля носете обувките си почистени!!!
                                    </li>
                                </ul>
                            </li>
                            </li>
                        </ul>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->

{% endblock %}