{% extends 'base.html.twig' %}


{% block main %}
    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>ПОЛИТИКА ЗА ПОВЕРИТЕЛНОСТ</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <section class="cart_area section_padding">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <h2 class="center">ПОЛИТИКА ЗА ПОВЕРИТЕЛНОСТ</h2>
                        <tbody>
                        <ul class="unordered-list">
                            <li><b>Данни за администратора на лични данни:</b>
                                <ul>
                                    <li>Администратор на личните данни на потребителите на онлайн магазин “obuvkisvik.com” e “СВИК” ООД със седалище град Пещера, ул, “Михаил Такев”, номер 2Д, ЕИК 112538029 и данъчен номер BG112538029.

                                    </li>
                                </ul>
                            </li>
                            <li><b>Лични данни на потребителя, които се предоставят за обработка от администратора.</b>

                                <ul>
                                    <li>При създаването на нова регистрация, потребителя дава данни за: собствено име, фамилия, имейл адрес(електронна поща).
                                    </li>
                                </ul>

                                <ul>
                                    <li>При направата на поръчка потребителя предоставя следната информация: собствено име, фамилия, начин на доставка(до офис или до адрес), телефонен номер, имейл адрес, допълнителни изисквания към поръчката.
                                    </li>
                                </ul>
                            </li>
                            <li><b>Цели на събирането и обработването на лична информация</b>
                                <ul>
                                    <li>Покупка и доставка на продукти. Използваме вашата лична информация, за да обработваме вашите поръчки(приемане, проверяване, изпращане).

                                    </li>
                                </ul>
                                <ul>
                                    <li>Връщането на продукт, съответно приетите общи условия при поръчката на такъв.
                                    </li>
                                </ul>
                                <ul>
                                    <li>Разрешаване на проблеми от всякакъв характер свързани със закупените стоки, поръчките или услугите, които предлагаме.
                                    </li>
                                </ul>
                                <ul>
                                    <li>Даване на информация и отговаряне на въпроси свързани с поръчките, продуктите или услугите.
                                    </li>
                                </ul>
                            </li>
                            <li><b>3-ти лица на които разкриваме личните данни на потребителите</b>
                                <ul>
                                    <li>
                                        Личните данни, които са предоставени на СВИК от потребители на уеб-сайта www.obuvkisvik.com, могат да бъдат обработвани от 3-ти лица.
                                        В зависимост от случая, предоставяме всички данни или част от тях на следните категории лица:
                                        <ul>
                                            <li>Доставчици на куриерски услуги;

                                            </li>
                                        </ul>
                                        <ul>
                                            <li>Доставчици на услуги по внедряване и/или поддръжка на информационни системи, които понякога е необходимо да достъпват лични данни, които се обработват в съответните системи, за целите на предоставяне на услугите;

                                            </li>
                                        </ul>
                                        <ul>
                                            <li>Адвокатски кантори, счетоводни къщи или други доставчици на консултантски услуги;
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                Доставчици на хостинг услуги;
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                Органи на реда;
                                            </li>
                                        </ul>
                                    </li>
                                </ul>


                            </li>
                            <li><b>Продължителност на периода на съхранение на лични данни</b>
                                <ul>
                                    <li>Продължителността на съхраняването на лични данни се определя от съответния период на задържане (например търговски и данъчни периоди). След изтичането на този срок съответните данни ще бъдат заличени, при условие че вече не са необходими за изпълнението или откриването на договора и / или вече няма законни интереси от наша страна за по-нататъшното съхранение. Личните данни, направени за създаване на профил в онлайн магазина се съхраняват до изтриване на профила или прекратяване на регистрацията на клиента.

                                    </li>
                                </ul>
                            </li>
                            <li><b>ПРАВО НА ИЗТРИВАНЕ (ПРАВО „ДА БЪДЕШ ЗАБРАВЕН“)</b>
                                <ul>
                                    <li>
                                        При поискване, търговското дружество е длъжно да изтрие лични данни, ако е налице някое от следните основания:
                                        <ul>
                                            <li>Личните данни повече не са необходими за целите, за които са били събрани или обработвани по друг начин;

                                            </li>
                                        </ul>
                                        <ul>
                                            <li>Потребителят оттегля своето съгласие, на което се основава обработването на данните, и няма друго правно основание за обработването;

                                            </li>
                                        </ul>
                                        <ul>
                                            <li>Потребителят възразява срещу обработването и няма законни основания за обработването, които да имат преимущество;
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                Личните данни трябва да бъдат изтрити с цел спазването на правно задължение;
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                Личните данни са били обработвани незаконосъобразно;
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </li>
                            <li><b>
                                    Данни за контакт със “СВИК” ООД
                                </b>
                                <ul>
                                    <li>
                                        Може да се свържете със нас, по всеки един въпрос или проблем, който  имате, по всяко едно време, от дадената информация в секция контакти.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        </tbody>
                    </table>

                </div>
            </div>
    </section>
    <!--================End Cart Area =================-->




{% endblock %}