{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body_id 'register' %}

{% block main %}
        <div class="ps-checkout pt-80 pb-80">
        <div class="ps-container">
          <form class="ps-checkout__form" action="{{ path('app_register') }}" method="post" novalidate="novalidate" id="registrationForm">
            <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                    <div class="ps-checkout__billing">
                        <h3>Влезте в профила си</h3>
						
							<div class="form-group form-group--inline">
                                <label>Име<span>*</span>
                                </label>
								<input type="name" name="registration[name]" id="registerName" class="form-control" placeholder="Име" required autofocus>
								<p style="display: none; color: red" id="warningRegisterName">*Това поле е задължително</p>

              	</div>
							<div class="form-group form-group--inline">
                             <label>Фамилия<span>*</span>
                             </label>
							 <input type="text" name="registration[surname]" id="RegisterSurname" class="form-control" placeholder="Фамилия" required autofocus>
                            <p style="display: none; color: red" id="warningRegisterSurname">*Това поле е задължително</p>
                            </div>
                            <div class="form-group form-group--inline">
                              <label>Имейл<span>*</span>
                              </label>
                                
                      <input type="email"  name="registration[email]" id="registerEmail" class="form-control" placeholder="Имейл" required autofocus>
                        <p style="display: none; color: red" id="registerEmailWarning">*Това поле е задължително</p>
                        <p style="display: none; color: red" id="registerEmailWarningInvalid">*Невалиден Email</p>
                        <p style="display: none; color: red" id="registerPasswordWarningExist">*Имейлът, който сте въвели вече съществува!</p>
                        
                            </div>
                            <div class="form-group form-group--inline">
                              <label>Парола<span>*</span>
                              </label>
                        <input type="password"  name="registration[plainPassword]" id="registerPassword" class="form-control" placeholder="Парола" required autofocus>
                          <p style="display: none; color: red" id="registerPasswordWarning">*Това поле е задължително</p>
                          <p style="display: none; color: red" id="registerPasswordWarningValidation">*Паролата трябва да е поне 8 знака, да съдържа поне една цифра, малка и голяма буква</p>
                        
                            </div>
							  <div class="form-group form-group--inline">
                              <label>Повторете Парола<span>*</span>
                              </label>
                        <input type="password"  name="repeatePassword" id="registerRepeatePassword" class="form-control" placeholder="Повторете паролата" required autofocus>
                          <p style="display: none; color: red" id="registerPasswordRepeatWarning">*Паролите не съвпадат</p>
                            </div>
							  <div class="col-md-12 form-group">
     
						 <div class="form-group">
                        <div class="ps-checkbox">
                          <input class="form-control" type="checkbox" id="cb01"  name="_remember_me">
                          <label for="cb01">Декларирам, че съм запознат с <a style="color: #0077b5" href="{{ path('privacyPolicy') }}">Политиката за поверителност</a> на магазина и приемам условията. </label>
                          <p style="display: none; color: red" id="warningPolices">Трябва да се съгласите с общите политики</p>
                        </div>
                      </div>
                  
						
                    </div>
					
					<div class="form-group form-group--inline">
                        <div class="form-group" style="text-align: center">
						<button class="ps-btn" type="submit" value="submit" id="registerButton">Регисрация<i class="ps-icon-next"></i></button>
						</div>
                    </div>


                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="ps-checkout__order">
                      <header>
                        <h3>Имате профил?</h3>
                      </header>

                      <footer>
  
                        <div class="form-group paypal">
                          <a class="ps-btn ps-btn--fullwidth" href="{{ path('app_login') }}">Към ВХОД<i class="ps-icon-next"></i></a>
                        </div>
                      </footer>
                    </div>

                  </div>
            </div>
          </form>
        </div>
      </div>
{% endblock %}