{% extends 'base.html.twig' %}


{% block main %}

	<main class="main checkout">
		<div class="page-content pt-7 pb-10 mb-10">
			<div class="step-by pr-4 pl-4">
				<h3 class="title title-simple">
					<a href="cart.html">Добавяне на нов продукт</a>
				</h3>

			</div>
			<div class="container mt-7">
				<form class="row contact_form" action="{{ path('addProduct') }}" method="post" novalidate="novalidate" enctype="multipart/form-data">
					<div class="row">
						<div class="col-lg-7 mb-6 mb-lg-0 pr-lg-4">
							<h3 class="title title-simple text-left text-uppercase">Детайли за продукт</h3>
							<div class="row">
								<div class="col-xs-6">
									<label>Модел *
										<span id="modelEmpty" class="alert-title" style="display: none; color: red;">(Това поле е задължително *)</span>
									</label>
									<input type="text" class="form-control" name="products[model]" id="model" required=""/>
								</div>
								<div class="col-xs-6">


									<label>Име *
										<span id="nameEmpty" class="alert-title" style="display: none; color: red;">(Това поле е задължително *)</span>
									</label>
									<input type="text" class="form-control" name="products[name]" id="name" required=""/>
								</div>
							</div>
							<div class="row">
								<tr class="sumnary-shipping shipping-row-last">
									<td colspan="2">
										<h4 class="summary-subtitle">Пол</h4>
										<ul>
											<li>
												<div class="custom-radio">
													<input type="radio" id="flat_rate" name="shipping" class="custom-control-input" checked>
													<label class="custom-control-label" for="flat_rate">Мъжки</label>
												</div>
											</li>

											<li>
												<div class="custom-radio">
													<input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
													<label class="custom-control-label" for="free-shipping">Дамски</label>
												</div>
											</li>

											<li>
												<div class="custom-radio">
													<input type="radio" id="local_pickup" name="shipping" class="custom-control-input">
													<label class="custom-control-label" for="local_pickup">Детски</label>
												</div>
											</li>
										</ul>
									</td>
								</tr>
							</div>

							<div class="row">
								<tr class="sumnary-shipping shipping-row-last">
									<td colspan="2">
										<h4 class="summary-subtitle">Спецификации</h4>
										<ul>
											<li>
												<div class="custom-radio">
													<input type="checkbox" class="custom-checkbox" id="isTrending" name="isTrending"/>
													<label class="custom-control-label" for="isTrending">Тренди</label>
												</div>
											</li>

											<li>
												<div class="custom-radio">
													<input type="checkbox" class="custom-checkbox" id="isNew" name="isNew"/>
													<label class="custom-control-label" for="isNew">Бестселър</label>
												</div>
											</li>

											<li>
												<div class="custom-radio">
													<input type="checkbox" class="custom-checkbox" id="isBestSeller" name="isBestSeller"/>
													<label class="custom-control-label" for="isBestSeller">Нов</label>
												</div>
											</li>
										</ul>
									</td>
								</tr>
							</div>
							<div class="row">
								<div class="col-xs-4">
									<label>Цена *
										<span id="priceEmpty" class="alert-title" style="display: none; color: red;">(Това поле е задължително *)</span>
									</label>
									<input type="text" class="form-control" name="products[price]" id="price" required=""/>
								</div>
								<div class="col-xs-4">
									<label>Цвят *
										<span id="colorEmpty" class="alert-title" style="display: none; color: red;">(Това поле е задължително *)</span>
									</label>
									<input type="text" class="form-control" name="products[color]" id="color" required=""/>
								</div>
								<div class="col-xs-4">
									<label>Цвят HEX код *
										<span id="colorHexCodeEmpty" class="alert-title" style="display: none; color: red;">(Това поле е задължително *)</span>
									</label>
									<input type="text" class="form-control" name="products[colorCode]" id="colorCode" required=""/>
								</div>
							</div>
							<label>Заглавие *
								<span id="titleEmpty" class="alert-title" style="display: none; color: red;">(Това поле е задължително *)</span>
							</label>
							<input type="text" class="form-control" name="products[title]" id="title" required=""/>
							<label>Категория *
								<span id="categoryEmpty" class="alert-title" style="display: none; color: red;">(Това поле е задължително *)</span>
							</label>
							<div class="select-box">
								<select class="form-control" name="products[category]" id="category">
									<option value='' selected></option>
									{% for category in categories %}
										<option value="{{ category.tag }}">{{ category.name }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="row">
								<label>Номер/Количество *</label>
								<div class="sample-icon" id="addSizeFrontButton">
									<i class="d-icon-angle-left"></i>
									<span class="name">Добави номер отзад</span>
								</div>
								<input type='hidden' id='firstFreeSizeId' value='0'>
								<div id="addSizeFront"></div>
								<div id="addSizeBack"></div>

								<div class="sample-icon" id="addSizeBackButton">
									<i class="d-icon-angle-right"></i>
									<span class="name">Добави номер отпред</span>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<label>Материал вътрешност
									</label>
									<input type="text" class="form-control" name="products[inside]" id="inside" required=""/>
								</div>
								<div class="col-xs-6">
									<label>Материал отвън (сая)
									</label>
									<input type="text" class="form-control" name="products[outside]" id="outside" required=""/>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<label>Височина ходило
									</label>
									<input type="text" class="form-control" name="products[soleThickness]" id="soleThickness" required=""/>
								</div>
								<div class="col-xs-3">
									<label>Височина обувка
									</label>
									<input type="text" class="form-control" name="products[shoeHigth]" id="shoeHigth" required=""/>
								</div>
								<div class="col-xs-3">
									<label>Тегло
									</label>
									<input type="text" class="form-control" name="products[weight]" id="weight" required=""/>
								</div>
								<div class="col-xs-3">
									<label>Стелка материал
									</label>
									<input type="text" class="form-control" name="products[insole]" id="insole" required=""/>
								</div>
							</div>
							<label>Описание</label>
							<textarea class="form-control pb-2 pt-2 mb-0" cols="30" rows="5" name="products[description]" id="description" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
						</div>
						<aside class="col-lg-5 sticky-sidebar-wrapper">
							<div class="sticky-sidebar mt-1" data-sticky-options="{'bottom': 50}">
								<div class="summary pt-5">
									<h3 class="title title-simple text-left text-uppercase">Качване на снимки на продукта</h3>
									<table class="order-table">
										<thead>
											<tr>
												<th>Снимка</th>
												<th></th>
											</tr>
										</thead>
										<tbody>

											<tr class="sumnary-shipping shipping-row-last">
												<td colspan="2">
													<ul>
														<li style="margin: 1%">
															<input name="file[]" type="file" onchange="readURL(this);"/>
															<img id="blah" style='height: 60px' src="http://placehold.it/180" alt="Начална снимка"/>
														</li>
														<li id="addPicture"></li>
														<div class="col-12">
															<a class="btn btn-block btn-icon-left btn-slide-down" id="addPictureButton">
																<i class="d-icon-arrow-down"></i>
																<span>Добави снимка</span>
															</a>
														</div>
													</ul>
												</td>
											</tr>
										</tbody>
									</table>

									<button type="submit" class="btn btn-dark btn-rounded btn-order">Завърши добавяне на продукт</button>
								</div>
							</div>
						</aside>
					</div>
				</form>
			</div>
		</div>
	</main>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('/assets/js/addProduct.js')}}"></script>

{% endblock %}

