{% extends 'base.html.twig' %}

{% block main %}
    <!-- FAQ -->
    <!-- FAQ -->
    <div class="section-wrap">
        <div class="container">

            <!-- Breadcrumbs -->
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('blog_index') }}">Начало</a>
                </li>
                <li class="active">
                    За нас
                </li>
            </ol>

            <div class="row">
                <div class="col-lg-6">
                    <h1 class="uppercase mb-20">За СВИК ООД</h1>

                    <!-- Accordion -->
                    <div class="accordion mb-50" id="accordion">
                        <div class="accordion__panel">
                            <div class="accordion__heading" id="headingOne">
                                <a data-toggle="collapse" href="#" class="accordion__link accordion--is-open"
                                   aria-expanded="true" aria-controls="collapseOne"><span
                                            class="accordion__toggle">&nbsp;</span>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordion" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="accordion__body">
                                    СВИК ООД е създадена през 1995г. В гр. Пещера – един от центровете на обувното производство в България.<br>
                                    Фирмата се разраства с бързи темпове и за кратко време достига водещи позиции в производството на луксозни и всекидневни дамски и мъжки обувки. СВИК ООД залага най-вече на усещането за удобство. Работи се с екологично чисти суровини и материали. Фирмата притежава собствен модерен завод, построен по еврипейски стандарти. Инвестициите са насочени предимно към закупуването на нови машини и технологии, към непрекъснато подобряване условията на труд.

                                </div>
                            </div>
                        </div>


                    </div> <!-- end accordion -->
                </div>
                <div class="col-lg-6">
                    <h1 class="uppercase mb-20">За онлайн магазин SVIK</h1>

                    <!-- Accordion -->
                    <div class="accordion mb-50" id="accordion-1">
                        <div class="accordion__panel">
                            <div class="accordion__heading" id="accordion-1__headingOne">
                                <a data-toggle="collapse" href="#"
                                   class="accordion__link accordion--is-open" aria-expanded="true"
                                   aria-controls="accordion-1__collapseOne"><span class="accordion__toggle">&nbsp;</span>
                                </a>
                            </div>
                            <div id="accordion-1__collapseOne" class="collapse show" data-parent="#accordion-1"
                                 role="tabpanel" aria-labelledby="accordion-1__headingOne">
                                <div class="accordion__body">
Онлай магазин за обувки SVIK shoes е създаден през 2018г. В него могат да се разгледат всички актуални модели и да се закупят като срока за доставка е до 3 работни дни.

                                </div>
                            </div>
                        </div>

                    </div> <!-- end accordion -->
                </div>
            </div>

        </div>
    </div> <!-- end faq -->

{% endblock %}