{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block main %}

    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                        <tr class="table100-head">
                            <th class="column1">Id</th>
                            <th class="column2">име</th>
                            <th class="column3">Модел №</th>
                            <th class="column4">Брой</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                        <tr>
                            <td class="column1">{{ order.id }}</td>
                            <td class="column2">{{ order.modelId }}</td>
                            <td class="column3">{{ order.priceOrdered }}</td>

                            <td class="column4">
                                <a class="btn btn-edit btn-sm" href="{{ path('seeOrderDetaily',{ 'id':order.id}) }}">Виж в детайли</a>
                            </td>
                        </tr>
                        </tbody>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
