{% extends 'base.html.twig' %}
{%  %}
{% block title %}КОИ СМЕ НИЕ{% endblock %}

{% block main %}

<div class="ps-404 bg--cover" data-background="images/background/404.jpg">
    <div class="ps-404__content">
        <h1>500</h1>
        <h3>Нещо се обърка</h3>
        <p>Съжаляваме за неудобството, работи се по отстраняване на проблема.</p><a class="ps-btn" href="index.html">Към начало<i class="ps-icon-next"></i></a>
    </div>
</div>
    <main class="ps-main">
    </main>
{% endblock %}