{% extends 'base.html.twig' %}


{% block main %}

    <div class="slider-area ">
        <!-- Mobile Menu -->
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Моите поръчки</h2>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <!--================Cart Area =================-->
    <section class="ps-content pt-80 pb-80">
            <div class="ps-container">


                <div class="ps-cart-listing">
                    <table class="table ps-cart__table">
                        <thead>
                        <tr>
                            <th scope="col">Поръчка No</th>
                            <th scope="col">Състояние</th>
                            <th scope="col">Общо цена</th>
                            <th scope="col">Бутон ВИЖ</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <p>{{ order.id }}</p>
                                </td>
                                <td>
                                    <div >
                                        {% if order.confirmed==0 %}
                                            <span class="amount" style="color: red">НЕПОТВЪРДЕНА</span>
                                        {% endif %}
                                        {% if order.confirmed==1 and order.newOrArchived==0 %}
                                            <span class="amount" style="color: yellow">НЕИЗПЪЛНЕНА</span>
                                        {% endif %}
                                        {% if order.confirmed==1 and order.newOrArchived==1 %}
                                            <span class="amount" style="color: green">ИЗПЪЛНЕНА</span>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <h5>{{ order.price|number_format(2) }} лв</h5>
                                </td>

                                <td>
                                        <a href="{{ path('seeOrder',{'id': order.id}) }}" class="ps-btn">ВИЖ</a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>

        </div>
    </section>
{% endblock %}