{% extends 'base.html.twig' %}


{% block main %}

    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Моите поръчки</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--================Cart Area =================-->
    <section class="cart_area section_padding">
        <div class="container">
            <div class="cart_inner">


                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Поръчка No</th>
                            <th scope="col">Състояние</th>
                            <th scope="col">Общо цена</th>
                            <th scope="col">Бутон ВИЖ</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="media-body">
                                            <p>{{ order.id }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="quantity buttons_added">
                                        {% if order.confirmed==0 %}
                                            <span class="amount" style="color: red">НЕПОТВЪРДЕНА</span>
                                        {% endif %}
                                        {% if order.confirmed==1 and order.newOrArchived==0 %}
                                            <span class="amount" style="color: yellow">НЕИЗПЪЛНЕНА</span>
                                        {% endif %}
                                        {% if order.confirmed==1 and order.newOrArchived==1 %}
                                            <span class="amount" style="color: green">ИЗПЪЛНЕНА</span>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <h5>{{ order.price|number_format(2) }} лв</h5>
                                </td>

                                <td>
                                    <div class="button-group-area mt-40">

                                        <a href="{{ path('seeOrder',{'id': order.id}) }}" class="genric-btn info radius">ВИЖ</a>

                                    </div>

                                </td>
                            </tr>


                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}