{% extends 'base.html.twig' %}
{% block title %}Количка
{% endblock %}
{% block main %}
<main class="main cart">
			<div class="page-content pt-7 pb-10">
				<div class="step-by pr-4 pl-4">
                    <h3 class="title title-simple title-step active"><a href="/shoppingCart">1. Преглед на количка</a></h3>
                    <h3 class="title title-simple title-step"><a href="/checkout">2. Поръчка</a></h3>
					<h3 class="title title-simple title-step"><a href="#">3. Завършена поръчка</a></h3>
				</div>
				<div class="container mt-7 mb-2">
					<div class="row">
						<div class="col-lg-8 col-md-12 pr-lg-4">
							<table class="shop-table cart-table">
								<thead>
									<tr>
										<th><span>Продукт</span></th>
										<th></th>
										<th><span>Ед. цена</span></th>
										<th><span>Номер/Кол.</span></th>
										<th>Общо</th>
									</tr>
								</thead>
								<tbody id='content'>
								</tbody>
							</table>
							<div class="cart-actions mb-6 pt-4">
								<a href="/promotions" class="btn btn-dark btn-md btn-rounded btn-icon-left mr-4 mb-4"><i class="d-icon-arrow-left"></i>Продължи пазаруване</a>
							</div>
							<div class="cart-coupon-box mb-8">
								<h4 class="title coupon-title text-uppercase ls-m">Код за отстъпка</h4>
								<input type="text" name="coupon_code" class="input-text form-control text-grey ls-m mb-4"
									id="coupon_code" value="" placeholder="Enter coupon code here...">
								<button type="submit" class="btn btn-md btn-dark btn-rounded btn-outline">Приложи промокод</button>
							</div>
						</div>
						<aside class="col-lg-4 sticky-sidebar-wrapper">
							<div class="sticky-sidebar" data-sticky-options="{'bottom': 20}">
								<div class="summary mb-4">
									<h3 class="summary-title text-left">Общо за количка</h3>
									<table class="shipping">
										<tr class="summary-subtotal">
											<td>
												<h4 class="summary-subtitle">Обща сума</h4>
											</td>
											<td>
												<p class="summary-subtotal-price" id='total'></p>
											</td>												
										</tr>
										<tr class="sumnary-shipping shipping-row-last">
											<td colspan="2">
												<h4 class="summary-subtitle">Доставка</h4>
												<ul>                                    
													<li>
														<div class="custom-radio">
                           			<div class="sample-icon" >
                                        <i class="d-icon-truck"></i>
                                        <span class="name" id="shipping-price">Безплатна доставка</span>
                                    </div>
														</div>
													</li>					
									
												</ul>
											</td>
										</tr>
									</table>
						
									<table class="total">
										<tr class="summary-subtotal">
											<td>
												<h4 class="summary-subtitle">Общо</h4>
											</td>
											<td>
												<p class="summary-total-price ls-s" id='totalTwo'></p>
											</td>												
										</tr>
									</table>
									<a href="/checkout" class="btn btn-dark btn-rounded btn-checkout" id="buttonOrder">Към поръчка</a>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</main>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('/assets/js/shopping-cart.js')}}"></script>

{% endblock %}